<!DOCTYPE html>
<html>
<head>
	<title>Hola!</title>
</head>
<body>
	<h2>Hola, dime a quien saludar</h2>
	<form action="/saludo" method="post">
		<input type="text" name="nombre"></input>
		<input type="submit" value="!Hola¡"></input>
	</form>
</body>
</html>